body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin: 1% 5%;
    background:linear-gradient(50deg,rgb(242, 239, 236),rgb(33, 170, 180));
}

main {
    display: grid;
    grid-template-columns: 50% 50%;
    flex-direction: column;
}


.box {
    box-shadow: .3em .3em .3em #6f7070;
    /* border-radius: .4em; */
    border-width: .01em;
    border-style: solid;
    margin: .7rem .7em .7em .7em;
    padding: .3em .7em .3em .7em;
}
.box .ul .li .a{
    text-decoration: none;
}

h1 {
    color: navy;
    /* margin: 0em; */
    display: inline-block;
    margin: 0.4em 0 0 .5em;
}

h2 {
    color: navy;
    font-size: 1.2em;
    margin: 0.3em;
}

h3 {
    color: navy;
    font-size: 1em;
    margin: 0em;
}

ul {
    margin: 0em 0em .3em 0em;
    /* padding-left: 1.4em; */
    padding: .1em 0em .1em 1.4em;
    font-size: 1em;
    display: inline-block;
    list-style: none;
}

.social .fa{
    color: navy;
}
.social .fa:hover{
    color: rgb(46, 109, 234);
}

 

@media (max-width: 1200px) {

 
main {
    display: grid;
    
}
  }
  
  @media (max-width: 990px) {

    
main {
    display: grid;
    
}
  }
  
  @media (max-width: 768px) {
      
main {
    display: grid;
    
}

  }

  
@media(max-width:450px){

   
main {
    display: grid;
   
}
 
  
}
  